@import '../fonts/font-face'

*
  padding 0
  margin 0
  box-sizing border-box

body,
.btn-main,
.sign-up-with-fb,
.form__input,
.form__send-btn,
.circle__btn,
.footer-subscribe__btn
  font-family 'Dosis', sans-serif
  font-size 16px
  color #2f1946

.container
  max-width 1270px
  margin 0 auto

.container_overflow_hidden
  text-align center
  overflow hidden
  display flex
  flex-direction column
  align-items center

.wrap-bg-loves
  background url('./img/bg-lovers.png') no-repeat
  background-size 100% auto
  margin-bottom 245px

.menu
  display flex
  align-items center
  justify-content flex-end
  margin-bottom 110px
  padding-top 25px

.menu__text
  font-size 18px

.menu-hamburger
  display flex
  align-items center
  margin-right 53px
  &:hover
    cursor pointer
    text-decoration underline
    .menu-hamburger__line
      background-color #ff6c00
      &:before, &:after
        background-color #ff6c00
  &:active
    text-decoration none
    .menu-hamburger__line
      height 0
      &:before
        transform rotate(-45deg) translate(-6px,6px)
      &:after
        transform rotate(45deg) translate(-5px,-5px)
        top 6px

.menu-hamburger__line
  display inline-block
  width 30px
  height 5px
  margin-left 12px
  background-color #e22028
  position relative
  transition all .5s
  &:before, &:after
    content ''
    width 30px
    height 5px
    background-color #e22028
    border-radius 3px
    position absolute
    top -10px
    left 0
    transition all .5s
  &:after
    top 10px
  &:active
    background-color #45124c
  &:nth-child(n+2)
    margin-top 5.2px

.logo
  margin 0 auto
  text-align center
  margin-bottom 60px

.logo-wrap
  text-align center

.title
  font-size 80px
  text-shadow 0 0 3px rgba(0, 0, 0, 0.25)
  text-transform uppercase
  letter-spacing 1.67px
  margin-bottom 60px

.btn-main-wrap
  display inline-block
  padding 10px
  box-shadow 0 0 5px rgba(0, 0, 0, 0.25)
  border-radius 36px
  border 1px solid #81398b
  margin-bottom 75px

.btn-main
  width 163px
  height 50px
  display flex
  justify-content center
  align-items center
  margin 0 auto
  box-shadow 0 0 5px rgba(0, 0, 0, 0.25)
  border none
  border-radius 25px
  background-color #81398b
  font-size 18px
  color #ffffff
  outline none
  &:hover
    cursor pointer
    background-color #72337b
  &:active
    background-color #8e3f99
    box-shadow inset 0 0 3px 2px rgba(0,0,0,0.25)

.btn-main__arrow
  fill #ffffff
  transform rotate(90deg)
  margin-left 5px
  margin-right -3px

.advantages
  display flex
  justify-content center

.advantages-block
  width 235px
  height 330px
  display flex
  align-items flex-end
  box-shadow 0 0 5px rgba(0, 0, 0, 0.25)
  margin-bottom -110px
  &:nth-child(n+2)
    margin-left 40px
  &:hover
    box-shadow 0px 0px 3px 3px rgba(0, 0, 0, 0.2)
  &:hover .advantages-block__text
      text-shadow 1px 1px 5px rgba(0, 0, 0, 0.5)

.advantages-block__text
  width 100%
  height 110px
  font-size 32px
  line-height 110px
  text-align center
  background-color rgba(0, 0, 0, 0.1)
  color #ffffff

.one-world
  background url('./img/worldwide.png') #fe4a5d center 65px no-repeat

.two-hearts
  background url('./img/two-hearts.png') #e22028 center 65px no-repeat

.one-site
  background url('./img/rss.png') #ff6c00 center 74px no-repeat

.widget-social
  position fixed
  top 50%
  left 0
  margin-top -98px
  width 50px
  height 195px
  padding 15px 0 18px
  box-shadow 0 0 5px rgba(0, 0, 0, 0.4)
  border-radius 0 3px 3px 0
  background-color #45124c
  list-style-type none
  text-align center

.widget-social__link
  display inline-block
  width 24px
  height 24px
  background-size 24px 24px
  transition transform 0.4s
  &:hover
    transform rotate(360deg)
  &:active
    transform scale(0.9)
    transition none

.widget-social__link_share
  background url('./img/share.png') center center no-repeat
  margin-bottom 18px

.widget-social__link_fb
  background url('./img/fb.png') center center no-repeat
  margin-bottom 21px

.widget-social__link_insta
  background url('./img/insta.png') center center no-repeat
  margin-bottom 20px

.widget-social__link_tw
  background url('./img/tw.png') center center no-repeat

.title-welcome
  display inline-block
  font-size 52px
  padding-left 70px
  margin-bottom 32px
  background url('./img/logo-s.png') no-repeat

.quote
  max-width 784px
  font-size 30px
  line-height 36px
  margin 0 auto 48px

.quote__cite
  display flex
  justify-content flex-end
  color #fe4a5d
  font-style normal

.wrap-bg-photo-collection
  background url('./img/collection.png') no-repeat
  min-width 1270px

.form
  max-width 466px
  margin 0 auto 162px
  padding 55px 75px 65px
  background linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #e22028, #f9b416) border-box
  border 8px solid transparent
  &:hover
    animation gradient .5s linear 2

@keyframes gradient
  from 
    background linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #e22028, #f9b416) border-box
  to 
    background linear-gradient(#fff, #fff) padding-box, linear-gradient(-90deg, #e22028, #f9b416) border-box

.form__title
  font-size 38px
  margin-bottom 35px

.sign-up-with-fb
  display flex
  justify-content center
  align-items center
  width 300px
  height 40px
  text-transform uppercase
  border none
  border-radius 4px
  background-color #2f53a3
  color #ffffff
  letter-spacing 0.8px
  margin-bottom 10px
  text-decoration none
  &:hover
    cursor pointer
    background-color #24407f
  &:active
    background-color #3965c7
    box-shadow inset 0 0 3px 3px rgba(0, 0, 0, 0.2)

.sign-up-with-fb__img
  display inline-block
  width 6px
  height 14px
  margin-right 10px
  background url('./img/fb-btn.png') no-repeat

.line-text
  font-family Dosis
  font-size 14px
  text-transform uppercase
  color #9b9b9b
  letter-spacing 0.7px
  display flex
  align-items center
  margin-bottom 10px
  &:before, &:after
    content ''
    display inline-block
    height 2px
    width 44%
    margin-right 9px
    border-radius 1px
    background-color #dcdcdc
  &:after
    margin-right 0
    margin-left 9px

.form__input
  width 100%
  height 41px
  border-radius 4px
  border 2px solid #dcdcdc
  margin-bottom 12px
  letter-spacing 0.69px
  padding-left 10px
  &::placeholder
    color #642f6b
    opacity 1

.form__send-btn
  width 300px
  height 41px
  border none
  border-radius 4px
  background-color #81398b
  color #ffffff
  text-transform uppercase
  letter-spacing 0.69px
  &:hover
    cursor pointer
    background-color #602a68
  &:active
    background-color #a64bb2
    box-shadow inset 0 0 3px 3px rgba(0, 0, 0, 0.2)

.wrap-bg-circle
  background url('./img/bg-circle.png') no-repeat
  min-width 1270px
  height 730px
  margin-bottom 32px
  display flex
  justify-content center
  align-items center
  position relative
  overflow hidden

.circle
  width 372px
  height 372px
  background-color #fff
  border-radius 50%
  display flex
  flex-direction column
  justify-content center
  align-items center
  position absolute
  z-index 1
  &:before
    content: ''
    width 462px
    height 462px
    border 1px solid rgba(255, 255, 255, 0.4)
    border-radius 50%
    position absolute
    z-index -1

.circle_width_202
  width 202px
  height 202px
  top 95px
  left 92px
  transform rotate(-6deg)
  background-color #ff6c00
  &:before
    width 270px
    height 270px

.circle_width_159
  width 159px
  height 159px
  bottom 68px
  left 185px
  transform rotate(4deg)
  line-height 33.63px
  background-color #f9b416
  &:before
    width 212px
    height 212px

.circle_width_156
  width 156px
  height 156px
  top 60px
  right 165px
  transform rotate(3deg)
  line-height 27.97px
  background-color #fe4a5d
  &:before
    width 203px
    height 203px

.circle_width_102
  width 102px
  height 102px
  bottom 165px
  right 226px
  background url('./img/gift.png') #fe4a5d center no-repeat
  &:before
    width 133px
    height 133px

.circle_width_189
  width 189px
  height 189px
  bottom 175px
  right -135px
  transform rotate(7deg)
  line-height 27.91px
  background-color #ff6c00
  &:before
    width 247px
    height 247px

.circle__title
  font-size 60px
  color #67326e

.circle__title_size_32,
.circle__title_size_25,
.circle__title_size_24,
.circle__title_size_20
  font-size 32px
  text-transform uppercase
  color #ffffff

.circle__title_size_20
  font-size 20px

.circle__title_size_24
  font-size 24px

.circle__title_size_25
  font-size 25px

.circle__title_size_40
  font-size 40px

.circle__title_size_44
  font-size 44px

.circle__desc
  font-size 46px
  line-height 46px
  color #67326e
  margin-bottom 20px

.circle__btn
  width 139px
  height 39px
  border none
  border-radius 3px
  line-height 40px
  background-color #e22028
  color #ffffff
  background-image linear-gradient(to right, #e22028 0%, #f9b416 100%)
  transition transform .5s
  &:hover
    cursor pointer
    transform scale(1.1)
  &:active
    box-shadow 0 0 3px 3px rgba(0, 0, 0, 0.3)

.footer-subscribe
  display flex
  justify-content center
  margin-bottom 35px

.footer-subscribe__label
  color #00cfae

.footer-subscribe__input
  width 258px
  height 40px
  padding-left 12px
  border 1px solid #cdcdcd
  border-right none
  border-radius 4px 0 0 4px
  color #818181
  font-family Lato
  font-size 16px
  margin-left 12px
  &::placeholder
    color #cacaca
    font-family Lato
    font-size 16px

.footer-subscribe__btn
  width 135px
  height 40px
  border none
  border-radius 0 4px 4px 0
  background-color #00cfae
  color #fefefe
  text-transform uppercase
  letter-spacing 0.8px
  &:hover
    cursor pointer
    background-color #05957e
  &:active
    background-color #00cfae
    box-shadow inset 0 0 3px 3px rgba(0, 0, 0, 0.2)

.footer-menu
  height 70px
  background-color #fafafa
  list-style-type none
  display flex
  justify-content center
  align-items center
  margin-bottom 25px

.footer-menu__item:nth-child(n+2)
  margin-left 57px

.footer-menu__link
  text-decoration none
  color #2f1946
  line-height 30px
  text-transform uppercase
  &:hover
    color #775799

.footer__img-flags
  display block
  margin 0 auto 21px

.footer__line
  border none
  max-width 828px
  height 1px
  border-radius 1px
  margin 0 auto 7px
  background-color #d3d3d3

.footer__copyright
  font-family Lato, sans-serif
  font-size 12px
  line-height 24px
  color #2f1946
  text-align center
  margin-bottom 12px

@import './media'