@font-face
  font-family 'Dosis'
  font-weight 700
  src local('☺'), url('fonts/Dosis-Bold.woff') format('woff')

@font-face
  font-family 'Lato'
  font-weight 400
  src local('☺'), url('fonts/Lato-Regular.woff') format('woff')